<% admin_breadcrumb(link_to 'Import', spree.admin_product_imports_url) %>

<% content_for :page_title do %>
  <%= @product_import.data_file_file_name %>
<% end %>

<% content_for :page_actions do %>
  <% if @product_import.created? %>
    <%= button_link_to 'Importera', admin_product_import_path(@product_import), { method: :patch } %>
  <% end %>
  <%= button_link_to t(:delete_product_import), admin_product_import_path(@product_import), {:icon => 'icon-remove', :method => :delete, :confirm => t("confirm_delete_product_import")} %>
<% end %>

<div style="clear:both;"></div>

<br>

<div>
  Fil: <%= link_to @product_import.data_file_file_name, @product_import.data_file.url -%>
</div>
<div>
  Storlek: <%= number_to_human_size(@product_import.data_file_file_size) %>
</div>

<div>
  Leverantör: <%= @product_import.product_import_source.try(:name) %>
</div>

<br>
<div style="clear:both;"></div>
<br>

<table class="table" id="listing_products">
  <colgroup>
    <col style="width: 5%">
    <col style="width: 10%">
    <col style="width: 20%">
    <col style="width: 10%">
    <col style="width: 40%">
    <col style="width: 5%">
  </colgroup>
  <thead>
    <tr data-hook="admin_products_index_headers">
      <th><%= 'ID' %></th>
      <th><%= 'SKU' %></th>
      <th><%= 'Namn' %></th>
      <th><%= 'Bilder' %></th>
      <th class="align-center"><%= 'Pris' %></th>
      <th class="actions" data-hook="admin_products_index_header_actions"></th>
    </tr>
 </thead>
 <tbody>
 <% @items.each do |item| %>
  <% product = nil %>
  <% variant = item[:variant] %>
  <% product = variant.product if variant.present? %>
  <tr class="<%= cycle('odd', 'even') %>" <%= "style='color: red;'" if product.try(:deleted?) %>>
    <td <%= "style='background-color: #DFF2BF;'".html_safe if variant.nil? %>><%= variant.try(:id) || "<span>Ny</span>".html_safe %></td>
    <td><%= item[:sku] %></td>
    <td><%= item[:name] %></td>
    <td><%= item[:images].size %> st</td>
    <td class="align-center">
      <% item[:days].each_with_index do |day, index| %>
        <small><%= day %></small>
        <%= '|' unless index == 6 %>
      <% end %>
    </td>
    <td class="actions" data-hook="admin_products_index_row_actions">
      <% if product.present? %>
        <%= link_to_edit_url edit_admin_product_path(product), :no_text => true unless product.deleted? %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
